<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.app.common.NetflixApplication">
        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="true"
            android:theme="@style/Theme.NetflixWithRxJava.GetStarted"/>
    </application>

</manifest>